---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
interface CustomImagen {
    src: string;
 }
interface Props {
  color: string;
  title: string;
  subtitle: string;
  id: string;
  imagenActividad:ImageMetadata;
}
const { color, title, subtitle, id,imagenActividad} = Astro.props;
const textColor = `text-${color}`;
---

<div class="flex flex-col items-start flex-1  pb-4 rounded-[18px] shadow-xl">


    <Image class="h-40 sm:h-60 w-full  object-cover self-center  rounded-t-[18px] inset-0 bg-black grayscale-[30%]" src={imagenActividad} alt={title}/>
    <h3 class="font-bold  text-left text-md md:text-xl balance p-2 ">{title}</div>
      <p class="text-gray-700 text-left pb-2 balance p-2">
        {subtitle}
      </p>

 <!--<div class="px-6 pt-4 pb-2">
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
  </div> -->
</div>
